mat-card{
    max-width: 50%;
    height: 50vh;
    width: 70vw;
    min-width: 30vw;
    margin: 0 auto;
    // top: 50%;
    overflow: auto;
  }
  
  .full-width {
    width: 100%;
    padding: 5px 0px 25px 2px;
    color: #219ebc;
  }

  mat-form-field {
    padding-left: 8px;
  }