<mat-toolbar color="primary">
    <mat-toolbar-row style="z-index: 2;" class="mat-elevation-z8">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Inference App</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="w-full" style="height: 100%;">
    <mat-drawer #sidenav mode="side" [(opened)]="opened">
        <app-form></app-form>
    </mat-drawer>
    <mat-drawer-content *ngIf="value"
        style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); text-align: center; gap: 10px 10px;">
        <mat-card *ngFor="let i of value" style="margin: 20px; height: 250px; " class="mat-elevation-z6">
            <mat-card-header>
                <mat-card-title style="text-align: center;">
                    <span style="text-align: center;">{{i['algorithm']}}</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-chart [gaugeValue]="round(i['result'][0][0]*100)">
                </app-chart>
            </mat-card-content>
        </mat-card>


    </mat-drawer-content>

</mat-drawer-container>