.example-spacer {
    flex: 1 1 auto;
  }

.body{
  margin-top: 7%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 7fr)); 
  grid-gap: 30px 30px;
  justify-content: center;
  justify-items: center;
}